.cards{
   height: 100%;
   overflow: scroll;
   padding: 1rem;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
   padding-bottom: 12rem;


   .card{
    width: 18rem;
    background-color: #222;
    border-radius: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    color: whitesmoke;

    img{
        width: 100%;
        object-fit: cover;
        border-radius: 0.6rem;
    }

    h1{
        font-size: 1.2rem;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        font-size: 0.8rem;
        line-height: 1.4;
        word-spacing: 0.1rem;
        font-weight: 200;
        opacity: 0.8;
    }
    .tags{

        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        .descrip{
            background-color: #6b6c6a;
            width: fit-content;
            padding-inline: 0.8rem;
            padding-block: 0.3rem;
            border-radius: 0.3rem;
            font-weight: 500;
           
        }
    }
    .url{
      
        display: flex;
        gap: 1rem;
    
     

        a{
            text-decoration: none;
           color: #24CFA6;
           padding: 0.3rem 0.5rem;
         
        }
    }
   }
}