.setting-window{
    padding: "20px";


    .wallpaper-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;


        img{
             width: 100%;
             height: 100px;
             object-fit: cover;
             cursor: pointer;
        }
    }
}