.window {
    height: 100%;
    width: 100%;
    background-color: #060606;
 overflow: hidden;
    color: white;
    border-radius: 0.8rem;
    overflow: hidden;
   position:absolute;
    .nave {
        display: flex;

        align-items: center;
        gap: 1rem;
        color: rgba(255, 255, 255, 0.809);

        .dots {
            display: flex;
            gap: 0.25rem;
            padding: 0.75rem;

            .red,
            .yellow,
            .green {
                height: 15px;
                width: 15px;
                border-radius: 50%;
                cursor:default;
            }

            .red {
                background-color: #FF605C;
            }

            .yellow {
                background-color: #FFBD44;
            }

            .green {
                background-color: #00CA4E;
            }
        }

    }

    .main-content{
        height: 100%;
        padding: 1rem;
    }

    *::-webkit-scrollbar{
        width: 5px;
    }
    *::-webkit-scrollbar-thumb{
        background-color: #444;
        border-radius: 4px;
        
    }
   
}