* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;


}

main {
    height: 100%;
    width: 100%;
overflow: hidden;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}