* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;


}

main {
    height: 100%;
    width: 100%;

    background-image: url(./public/mac-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}